server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/search_engine
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

liquibase:
  change-log: classpath:db/changelog/db.changelog-master.yaml

indexing-settings:
  sites:
    - url: https://www.skillbox.ru
      name: Skillbox
